<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name="DefaultConnectionString" connectionString="Server=.;Database=SzlqTechTrace;User Id=sa;Password=123456;Encrypt=True;TrustServerCertificate=True;" />-->

		<!--Server=localhost;Database=szlqtechscreen;Uid=root;Pwd=123456;AllowLoadLocalInfile=true;  connectionString="DataSource=szlqtechscreen.sqlite" providerName="System.Data.SQLite"-->
		<add name="DefaultConnectionString" connectionString="server=localhost;Database=szlqtechscreen;Uid=root;Pwd=123456" />
		<add name="SqlConnectionString" connectionString="PORT=5432;DATABASE=szlqtechscreen;HOST=localhost;PASSWORD=123456;USER ID=postgres" />
		<add name="DbType" connectionString="0" />
		<!--MySql = 0,SqlServer = 1, Sqlite = 2,Oracle = 3,PostgreSQL = 4,-->
	</connectionStrings>
	<appSettings>
		<add key="lang" value="zh-CN" />
		<add key="Username" value="sa" />
		<add key="Password" value="123456" />
		<add key="Key" value="" />
		<add key="New" value="true" />
		<add key="View" value="InnoLightTraceView" />
		<add key="IsEnableMachine" value="false" />
		<add key="IsEnableLogin" value="true" />
	</appSettings>
</configuration>