<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnectionString" connectionString="Server=.;Database=SzlqTechTrace;User Id=sa;Password=123456;Encrypt=True;TrustServerCertificate=True;" />
	</connectionStrings>
	<appSettings>
		<add key="lang" value="zh-CN"/>
		<add key="Username" value="sa"/>
		<add key="Password" value="123456"/>
		<add key="Key" value=""/>
		<add key="New" value="true"/>
	</appSettings>
</configuration>