<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="logfile" xsi:type="File" fileName="file.txt" />
		<target name="logconsole" xsi:type="Console" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="logconsole" />
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>

	<!--<targets>
		--><!-- Info级别日志文件 --><!--
		<target name="infoFile" xsi:type="File"
				fileName="logs/info_${shortdate}.txt"
				layout="${longdate} ${uppercase:${level}} ${message}" />

		--><!-- Error级别日志文件 --><!--
		<target name="errorFile" xsi:type="File"
				fileName="logs/error_${shortdate}.txt"
				layout="${longdate} ${uppercase:${level}} ${logger} ${message} ${exception:format=tostring}" />

		--><!-- 控制台输出 --><!--
		<target name="logconsole" xsi:type="Console"
				layout="${longdate} ${level:uppercase=true} ${message}" />
	</targets>

	<rules>
		--><!-- Info级别日志同时输出到控制台和infoFile --><!--
		<logger name="*" minlevel="Info" maxlevel="Info" writeTo="logconsole,infoFile" />

		--><!-- Error级别日志同时输出到控制台和errorFile --><!--
		<logger name="*" minlevel="Error" maxlevel="Error" writeTo="logconsole,errorFile" />

		--><!-- 其他级别日志的处理规则 --><!--
		<logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="logconsole" />
		<logger name="*" minlevel="Warn" maxlevel="Warn" writeTo="logconsole" />
		<logger name="*" minlevel="Fatal" maxlevel="Fatal" writeTo="logconsole,errorFile" />
	</rules>-->
</nlog>